<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  </head>
  <body>
    <header>
      <a href="/" class="logo"><img src="" alt="" width="32" height="32">Weather project</a>
      <nav>
        <a href="/">Home</a>
        <a href="/search/">Search</a>
        {% include 'search_form.html' %}
      </nav>
    </header>
    <main class="content">{% block content %} {% endblock %}</main>
  </body>
</html>
