{% extends 'base.html' %}

{% block title %}Index{% endblock %} 

{% block content%}
  <h1>The Norwegian weather application</h1>
  <p>Norway's weather, mastered. Nationwide forecasts, hyperlocal accuracy. Made for the subject IT2.</p>
  <a href="/search/">Try it now</a>
  <a href="/weather/59.20961,9.60901,Skien_By_Skien_Telemark">Weather in Skien, Norway</a>
  
  <style>
    body {
      background-image: url("{{url_for('static', filename='wallpaper.png')}}");
      background-attachment: fixed;
      background-size: cover;
    }
  </style>
{% endblock %}

