*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: scroll;
}

header {

  /* max-width: calc(1312px + 2rem);
  padding: 0 1rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  color: black; */

  display: flex;
  width: calc(1312px + 2rem);
  position: fixed;
  left: calc((100vw  - (1312px + 2rem)) / 2);
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  padding: 0.5rem 0 0.5rem;
  margin: 0;
  top: 0px;
  z-index: 1;
}

.header_container {
  width: 100%;
  height: 4rem;
  margin: 0px;
  padding: 0px;
 
}

header .logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  font-size: 1.25rem;
}

header img {
  border-radius: 4px;
  background-color: black;
}

header a {
  color: inherit;
}

header nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

header form {
  outline: 2px solid #333;
  outline-offset: -1px;
  height: 3rem;
  position: relative;
  border-radius: 1.5rem;
  width: 262px;
}

header input[type="text"] {
  border: none;
  background-color: transparent;
  border-radius: 1.5rem;
  padding-left: 1rem;
  padding-right: 4rem;
  width: 100%;
  height: 100%;
  font-size: 1rem;
}

header input[type="submit"] {
  position: absolute;
  right: 0;
  height: 3rem;
  width: 3rem;
  border-radius: 1.5rem;
  border: none;
  font-size: 1rem;
  outline: 2px solid #333;
  outline-offset: -1px;
  background-color: #FEF4BE;
}

header label {
  display: none;
}

main {
  max-width: calc(1312px + 2rem);
  padding: 0 1rem;
  margin: 0 auto;
  color: #333;
}

h1 {
  font-size: 4rem;
  line-height: 120%;
  margin: 0;
  margin-top: 2rem
}

h1 + p {
  margin: 0;
  margin-top: 1rem;
  font-size: 1.5rem;
  line-height: 150%;
}



.current_weather {
  font-size: 2rem;
  font-weight: 750;
  background-color: rgb(76, 130, 224);
  color: white;
  border-radius: 1rem;
  padding: 1rem;
  
}


.weather_table_overview {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: hidden;
  height: 18rem;
  
  > .weather_box:first-child {
    background-color: rgb(185, 207, 245);
    box-shadow: 10px 10px 20px rgb(170, 176, 179);
  }


}

.weather_box{
  box-shadow: 10px 10px 20px rgb(189, 195, 197) inset;
  position: relative;
  > h1 {
    font-size: 1.5rem;
    margin: 0px
  }
  > h3 {  
    font-weight: lighter;
    line-height: 0%;
  }
  > .container {
    position: absolute;
    height: 7rem;

    bottom: 1rem;
  
    display: flex;
    align-items: center;
    > h2 {
      font-size: 1.5rem;
      display:inline-block;
      margin: 0px;
      vertical-align: middle;
      line-height: normal;

    }

    > img {
      width: 5rem;
      display:inline-block;
    }
  
  }

  width: calc(20% - 2rem);
  aspect-ratio: 1;

  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
}

.weather_content {
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  width: 40rem;
  position: relative;
  margin: 0px auto;
  > #knapp {
   
    background-color: #5382af;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3rem;
    margin: 4px 2px;
    cursor: pointer;  
    margin: 0px auto;
    width: 100%;
  }
  height: 25rem;
  /* overflow: scroll; */
}

.weather_table {

  border: 1px solid black;
  padding: 1rem;
  table-layout:fixed;
  overflow-wrap: break-word;
  
}
tr {
  word-wrap: break-word;

}

th {
  text-align: left;
}


.time_for_time {
  font-size: 2rem;
  
}